<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @speed_test.datetime %>
</p>

<p>
  <strong>Ping:</strong>
  <%= @speed_test.ping %>
</p>

<p>
  <strong>Download:</strong>
  <%= @speed_test.download %>
</p>

<p>
  <strong>Upload:</strong>
  <%= @speed_test.upload %>
</p>

<%= link_to 'Edit', edit_speed_test_path(@speed_test) %> |
<%= link_to 'Back', speed_tests_path %>
